<footer class="footer-footer">
  <div class="footer-container">
    <div class="footer-container1">
      <span class="footer-text">Calcolatore Online</span>
      <span>Copyright © {{todayDate.getFullYear()}} Calcolatore Online.</span>
    </div>
    <div class="footer-container2">
      <div class="footer-container3">
        <span class="footer-text02 Large">Company</span>
        <a routerLink="/#"><span class="footer-text03 Large">About Us</span></a>
        <a routerLink="/privacy"><span class="footer-text03 Large">Privacy</span></a>
      </div>
      <div class="footer-container4">
        <span class="footer-text06 Large">Pages</span>
        <a routerLink="/#"><span class="footer-text07 Large">List</span></a>
        <a routerLink="/#"><span class="footer-text09 Large">About</span></a>
      </div>
      <div class="footer-container5">
        <span class="footer-text10 Large">Products</span>
        <a routerLink="/#"><span class="footer-text13 Large">Latest</span></a>
      </div>
    </div>
  </div>
  <img
    alt="image"
    src="/assets/playground_assets/waves-white.svg"
    class="footer-image"
  />
</footer>
